body {
      font-family: 'Dancing Script', cursive;
      font-family: 'Nunito', sans-serif;
      font-family: 'Open Sans', sans-serif;
      font-family: 'Poppins', sans-serif;
      font-weight: lighter;
}

ul {
      list-style: none;
}

a {
      text-decoration: none !important;
}
i{
      cursor: pointer;
}
:root {
      --main-color: #f25454;
      --bg-color: #fafafa;
      --text-color: #282828;
      --main-transition: 0.4s;
      --middle-transform: translate(-50%, -50%);
}

.head-p {
      width: 75%;
      color: var(--text-color);
      text-align: center;
      margin: auto;
}

@media (max-width: 768px) {
      .head-p {
            width: 90%;
            color: var(--text-color);
            font-size: .8rem;
            text-align: center;
            margin: auto;
      }

      .container,
      .row {
            margin: 0 !important;
      }
}

/* START HEADER */

nav {
      z-index: 5;
      border-bottom: solid 1px rgba(255, 255, 255, .3);

}
.navbar{
     background-color: rgb(40, 40, 40,.2) !important;
}
nav .nav-content ul li a {
      color: #fafafa;
      padding: .9rem;
      font-size: .9rem;
      font-weight: 600;
      transition: var(--main-transition);
}

nav .nav-content ul a i {
      color: #fafafa;
      padding: 0rem .5rem 0rem .5rem;
      transition: var(--main-transition);
}

.nav-home {
      color: var(--main-color) !important;
      font-weight: unset !important;
}

nav .nav-content ul li a:hover,
nav .nav-content div a i:hover {
      color: var(--main-color);
}

.navbar-toggler:focus {
      box-shadow: unset;
}

.navbar-toggler i {
      transition: var(--main-transition);
      font-size: 1.5rem;
}

.navbar-toggler i:hover {
      color: var(--main-color) !important;
}

@media (max-width: 992px) {
      .nav-social {
            display: none !important;
      }
}

@media (max-width: 770px) {
      .navbar {
            padding: 0 !important;
      }

      .navbar .container-fluid {
            padding: 0 !important;
      }

      nav .nav-content ul {
            background: rgb(255, 255, 255);
            padding: 1rem 0rem 1rem !important;
            margin: 0 !important;

      }

      .navbar-toggler,
      .navbar-brand {
            padding: 1rem !important;
      }

      nav .nav-content ul li {
            padding: .3rem !important;
      }

      nav .nav-content ul li a {
            color: var(--text-color)
      }


}

@media (min-width: 770px) {
      .navbar-expand-lg .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
      }

      .navbar-expand-lg .navbar-toggler {
            display: none;
      }

      .navbar-expand-lg .navbar-nav {
            flex-direction: row;
      }

}

/*END Nav */




/*START HEADER*/
.header-bg-1 {
      background-image: url(images/slideshow-1.webp);
}

.header-bg-2 {
      background-image: url(images/slideshow-2.webp);
}

.header-bg-3 {
      background-image: url(images/slideshow-3.webp);
}

.content {
      height: 100vh;
      background-position: center center;
      background-size: cover;
      position: relative;
}

.header-carousels {
      position: absolute;
      top: 50%;
      left: 0%;
      z-index: 1;

}

.carousel-control-next,
.carousel-control-prev {
      border: solid 1px white;
      position: unset;
      opacity: 1;
      width: fit-content;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
      background-image: unset;
}

.btn-layer {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 100%;
      transition: var(--main-transition);
}

.btn-content i {
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: var(--middle-transform);
}

.carousel-control-next:hover .btn-content i,
.carousel-control-prev:hover .btn-content i {
      color: var(--main-color);
      transition: var(--main-transition);

}

.carousel-control-next:hover .btn-layer,
.carousel-control-prev:hover .btn-layer {
      right: 0;
      background: rgb(255, 255, 255);
      opacity: 1;
}

header .carousel-item h1 {
      font-size: 3.7rem !important;
      position: absolute;
      top: 50%;
      left: 120%;
      width: 40%;
      text-align: center;
      font-weight: bold;
      color: #fafafa;
      transition: var(--main-transition);
      transform: var(--middle-transform);
}

header .carousel-item.active h1 {
      left: 50%;
}

.mouse-to-about {
      bottom: 5%;
      left: 50%;
      transform: var(--middle-transform);
      width: 1.7rem;
      height: 3rem;
      z-index: 2;

}

.mouse-up-down::after {
      content: "";
      position: absolute;
      animation: UpDown 1s linear infinite;
      left: 50%;
      bottom: 50%;
      transform: var(--middle-transform);
      width: .7rem;
      height: .7rem;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
      color: #715c3f;
}

@keyframes UpDown {
      0% {
            bottom: 1rem;
      }

      50% {
            opacity: .5;
      }

      100% {
            bottom: 0;
            opacity: 0;
      }
}

@media (max-width: 768px) {
      header .carousel-item h1 {
            font-size: 1.8rem !important;
      }

      header .mouse-to-about {
            display: none;
      }
}

.main-title {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
}

.main-title::after {
      content: "";
      left: 50%;
      transform: var(--middle-transform);
      height: 1px;
      width: 3rem;
      bottom: -5%;
      background-color: var(--text-color);
      position: absolute;
      transition: var(--main-transition);
}

.main-title:hover.main-title::after {
      width: 5rem;
}

.title-h3 {
      font-size: 5rem;
      font-weight: bolder;
      color: #f1f1f1;
      letter-spacing: .1rem;
      text-align: center;

}

.title-h4 {
      font-size: 2.5rem;
      font-weight: 600;
      text-align: center;
      position: absolute;
      top: 45%;
}

/* about */
#about .progress {
      height: .3rem;
}

#about .progress-bar {
      background-color: #f05353;
}

/* END ABOUT */




/* START missions */
.missions {
      background-image: url(images/mission.webp);
      background-position: center top;
      background-size: cover;
      background-attachment: fixed;
}

.mission {
      text-align: center;
}

.missions .mission i {
      font-size: 3rem;
      font-weight: 600;
}

.missions h3 {
      font-size: 1rem;
      padding: 2rem 0;
}

.missions li {
      transition: var(--main-transition);
}

.missions UL li::before {
      font-family: "Font Awesome 5 Free";
      content: "\f00c";
      margin-right: .5rem;
      font-size: 1.2rem;
      transition: var(--main-transition);
      font-weight: 900;
}

.missions UL li:hover {
      color: var(--main-color);
      cursor: pointer;
}

.mission:hover {
      color: var(--main-color);
      cursor: pointer;
}

/* END MISSIONS */





/* START TEAM */
.team-member {
      width: 80%;
}

.team-layer {
      z-index: -1;
      background-color: transparent;
      transition: var(--main-transition);
}

.team-layer a i {
      color: white;
      font-size: 1.3rem;
}

.team-info p {
      font-size: .8rem;
}

.team-info h5 {
      transition: var(--main-transition);
}

.team-member img {
      transition: .3s .1s;
}

.team-member:hover .team-layer {
      background-color: rgba(242, 84, 84, 0.85);
      z-index: 1;
}

.team-member:hover img {
      transform: scale(1.1);
}

.team-member:hover .team-info h5 {
      color: var(--main-color);
}

@media (max-width: 768px) {
      .team-member {
            width: 100% !important;
      }

      ;

      #team .teams {
            margin: 0;
            padding: 0;
      }

      ;
}

/* END TEAM */



/*START Projects */
#projects {
      background-color: var(--bg-color);
}

.carousel-indicators [data-bs-target] {
      width: fit-content;
      height: fit-content;
      text-indent: unset;
      padding: .5rem 1.2rem;
      font-size: .9rem;
      font-weight: 400;
      background-color: transparent;
}

.carousel-indicators .active {
      border: solid 1px var(--main-color) !important;
      color: var(--main-color) !important;
}

.project-carousel {
      bottom: unset;
}

.project-layer {
      background-color: transparent;
      transition: var(--main-transition);
      inset: 2%;
      z-index: -1;
      display: none;
}

.project img {
      transition: .3s;
}

.project:hover .project-layer {
      background-color: rgba(255, 255, 255, 0.85) !important;
      z-index: 0 !important;
      display: unset;
}

.project:hover img {
      transform: scale(1.2);
}

@media (max-width: 768px) {
      .project-carousel {
            width: 100%;
            margin: 0;
      }

      .carousel-indicators [data-bs-target] {
            flex-grow: 1;
            height: fit-content;
            text-indent: unset;
            padding: .5rem .5rem;
            margin: 0;
            font-size: .7rem;
      }

      ;

      #projects>p {
            padding-left: 0 !important;
            padding-right: 0 !important;
      }
}

/* END Projects */


/* START services */
#services {
      background-color: var(--bg-color);
}

.service-content h4 {
      font-size: .9rem;
      transition: var(--main-transition);
}

#services .service-icon i {
      font-size: 2.5rem;
      font-weight: 600;
      color: var(--main-color);
      text-align: center;
}

#services .service-content:hover h4 {

      color: var(--main-color);
}

/* END services */


.video-part {
      background-image: url(/images/forest.webp);
      background-size: cover;
      background-attachment: fixed;
      height: 45vh;
      background-position: center center;
  }
  
  .video-layer {

      background-color: rgba(0, 0, 0, 0.5);
      inset: 0;
      color: white;
  }
  
  .video-layer i {
      font-size: 5rem;
      padding-bottom: 1rem;
      cursor: pointer;
  }
  
  .video-layer {
      font-size: 1.6rem;
      font-weight: bold;
      cursor: pointer;
  }
  

/* Start REVIEWS*/

#reviews div.carousel-indicators>div {
      width: 15%;
      padding-left: 0;
      padding-right: 0;
}

#reviews div.carousel-indicators>div.active {
      width: 20%;
      border: 0 !important;
}

#reviews blockquote {
      opacity: .6;
      font-weight: 500;
      font-size: 1.2rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

@media (max-width: 768px) {
      #reviews #carouselExampleIndicators {
            margin: 0 !important;
            padding: 0 !important;
      }
}

/*  End REVIEWS */


/* Start BLOG */
#blog {
      background-color: var(--bg-color);
}

.blog-box-absolute {
      top: 5%;
      right: 0;
}

.card-date {
      font-size: smaller !important;
}

#blog .hover-danger,
#blog .hover-dark:hover,
.blog-card img {
      transition: var(--main-transition);
}

.blog-card img:hover {
      transform: scale(1.1);
}

#blog .hover-danger:hover {
      color: var(--main-color) !important;
      cursor: pointer;
}

#blog .hover-dark:hover {
      color: var(--text-color) !important;
}

@media (max-width: 768px) {
      .blog-card {
            flex-grow: 1;
      }
}

/* END BLOG */


/* START CONTACT */
#contact {
      background-color: var(--bg-color);
}

.contact-info i {
      font-size: 2.2rem;
      font-weight: light;
      color: var(--main-color);
}

.contact-info h4 {
      transition: var(--main-transition);
      font-size: 1.2rem;
}

.contact-info h4:hover {
      color: var(--main-color);
}

/* END CONTACT */





/* START MAP */
#map{ height: 40vh;}
.map-layer {
      inset: 0;
      background-color: rgba(81, 39, 39, 0.511);
      z-index: 2;
}

.up-button {
      z-index: 3;
      width: 3rem;
      height: 3rem;
      font-size: 1.7rem;
      transition: var(--main-transition);
      opacity: .9;
}

.up-button:hover {
      opacity: 1;
}

/* END MAP */



/* START CONTACT */
footer {
      background-image: url(images/dotted-map.webp);
      background-size: contain;
      background-color: rgb(34, 34, 34) !important;
      color: rgb(165, 165, 165) !important;

}

footer a {
      color: rgb(165, 165, 165) !important;
      transition: var(--main-transition);
}

.social-media-footer i {
      color: #fafafa;
      font-size: 1.2rem;
      padding: 0 1.5rem;
      transition: var(--main-transition);
}

footer a:hover,
footer a:hover i {
      color: var(--main-color) !important;
}

footer ul {
      padding: 0;
}
